@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* This is header part CSS ************************************* */
#header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url('../images/donate-12.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#header .header-center-part {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

#header .header-center-part h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
    color: #FFFFFF;
}

#header .header-center-part p {
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

#header .header-center-part .button-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .header-center-part button,
.donate-area .button-area button,
.get-my-update-input-area .input-box button {
    margin-top: 45px;
    width: fit-content;
    padding: 16px 12px;
    background: #FF5959;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

/* Header part end **************************************************** */

/* Donate area Css **************************************************** */

#donate {
    width: 100%;
    height: 48vh;
    margin-top: 130px;

}

.donate-area {
    display: grid;
    justify-items: center;
    align-content: center;
    height: 42vh;
}

.donate-area h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #121212;
}

.donate-area p {
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #707070;
}

.box-tk {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box {
    width: 135px;
    height: 123px;
    background: #FAFAFA;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #707070;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.box-tk .box-2-tk {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
}

.amount-field {
    margin-top: 60px;
}

.amount-field input {
    width: 765px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #B3B3B3;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #DADADA;
    padding: 9.5px 0;
}

/* Donate plan area css  **************************** */

#donate-plan {
    margin-top: 130px;
    width: 100%;
}

.donate-plan-area {
    display: grid;
    justify-content: center;
    align-content: center;
}

.donate-plan-area h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #121212;
}

.donate-plan-area p {
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #707070;

}

.boxs {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.boxes {
    padding: 63px 22px 54px 23px;
    border-radius: 5px;
    width: 360px;
    height: 352px;
}

.boxes img {
    width: 58px;
}

.boxes h3 {
    margin-top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
}

.boxes p {
    margin-top: 16px;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}

.box-1 {
    background: rgba(79, 157, 166, 0.1);
}

.box-2 {
    background: rgba(255, 89, 89, 0.1);
}

.box-3 {
    background: #FFF4D6;
}

/* donate plan area end ***************************************************** */

/* about us are css *************************************************************** */

#about-us {
    width: 100%;
    margin-top: 130px;
}
#about-us #title{
    font-size: 45px;
    margin: 60px 0;
    font-family: 'Inter';
    font-weight: bolder;
    width:100%;
    text-align: center;
}
.about-wrapper,
.funded-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-col {
    width: 700px;
}

.left-col h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;

}

.left-col p {
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;

}

.right-col {
    width: 745px;
}

.right-col img {
    width: 745px;
    object-fit: cover;
    height: 500px;
    border-radius: 15px;
}

/* funded water css  */
#funded-water {
    margin-top: 100px;
    width: 100%;
}

/* get my update area css  */
#get-my-update {
    margin: 130px 0;
    width: 100%;
}

.get-my-update-text-area h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #121212;
}

.get-my-update-text-area p {
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #707070;
}

.get-my-update-input-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-my-update-input-area .input-box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    width: 810px;
    height: 200px;
    background: #FFF4D6;
}

.get-my-update-input-area input {
    padding: 14px 14px 17px;
    border: none;
    outline: none;
    font-family: 'inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AA9F9F;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;

}

.get-my-update-input-area .input-box button {
    margin: 0;
    padding: 15px 43px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

/* footer section  */

footer {
    background: #0B0D17;
    height: 178px;
    display: grid;
    place-items: center;
    width: 100%;
}

footer .footer-content p {
    margin-top: 25px;
    font-family: 'inter ';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #D9DBE1;
}